In [2]:
phi = 3.14159

In [7]:
r = 10

In [8]:
circle = phi * r ** 2

In [9]:
circle

314.159

In [11]:
print "The area of circle with r: ",r," cm is : "+str(circle)

The area of circle with r:  10  cm is : 314.159

In [1]:
a,b,c,d,e = 2,3,5,7,11.2
total = (a+b)*d/(c+e)

In [3]:
print ("total       :  ", total)
print ("Total round :  ", round(total))

total       :   2.160493827160494
Total round :   2

In [34]:
blA = True
blB = False
resultBl1 = blA and blB
resultBl2 = blA or blB
print resultBl , '  ' ,resultBl2,'   ', not(blA)

False    True     False

In [36]:
word1 = "Nama "+" saya oscar "+ 'dos santos '+"simanjuntak"
word2 = "I've make some"+" chocolatos"
print(word1)
print(word2)

Nama  saya oscar dos santos simanjuntak
I've make some chocolatos

In [5]:
# single quote and double quote, with \ we make the quote doesn't read as end of the word
word3 = 'Rudi\'s phan'
word4 = "I want to say, \"What are you looking for sanas?\""
print(word3)
print(word4)

Rudi's phan
I want to say, "What are you looking for sanas?"

In [42]:
val = 1
val = val + 10
print (val)
val1 = val - 6
print (val1)
vali = 0
vali +=1
valj = 10
valj -= 5
print (vali)
print (valj)

11
5
1
5

In [45]:
w = 'Hallo ganteng '
n = "irwan"
wR = 2 * w + n
print (wR)

Hallo ganteng Hallo ganteng irwan

In [54]:
T = True
F = False
"not T and not F "

'not T and not F '

In [7]:
# "Hello"+'Python'
3*'stone'+'age'

'stonestonestoneage'

In [8]:
a=2
b=3
c=4
d=5
e=10
((a * b) + (a+ b + c ) * 2) / c

6.0