<==== Array In Python ====>

In [7]:
#declaration array in python
#array stores values of same data type, but list can different data type
int_list = [10,5,3,6,11,20] #array of int
float_list = [5.5, 10.3,15.2,17.9,3.4] #array of float
string_list = ['Tama','suka','sama','taniboy','dan','tanigirl'] #array of string
combine_list = [1,10.5,5,'Taminar','Tamasia',9.8,1000,'gram',True] #list
some_list = list() #create an empty list

#uncomment the code below to see the result
# int_list
# float_list
# string_list
# combine_list
some_list

[]

In [5]:
"""Access the list by the index
   You have to know that list index start from 0, so if the len of list is 5. The maximum index of list is 4
"""
string_list[2] #access the list value by index
len(string_list) #the number of value inside the list

7

In [8]:
#Replacing value of the array 
string_list[0]="Mohamad Irwan"
string_list

['Mohamad Irwan', 'suka', 'sama', 'taniboy', 'dan', 'tanigirl']

In [18]:
#append use to add array value, and placed in the end of index
string_list.append('Sekarang tidak')
string_list

['Irwan Caem',
 'suka',
 'sama',
 'taniboy',
 'dan',
 'tanigirl',
 'cemburu',
 'Sekarang tidak']

In [10]:
# insert in specific array index
string_list.insert(0,'gusur ya') #the current value of string_list[0] = gusur ya, previous value will be moved to index 1 
string_list.insert(6,'melon')
string_list

['gusur ya',
 'gusur ya',
 'Mohamad Irwan',
 'suka',
 'sama',
 'taniboy',
 'melon',
 'dan',
 'melon',
 'tanigirl']

In [12]:
# if array1 + array2 it will return combination array1 and array2
students=['a','b','c','d'] #arr1
students

['a', 'b', 'c', 'd']

In [13]:
new_students = ['e','f','g'] #arr2
students = students+new_students #arr1+arr2
students #combination of arr1 and arr2

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [16]:
# insert in the last list can using append, extend or +=
students.extend('e')
students += ['f','g']
students

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'e', 'e', 'e', 'f', 'g']

In [17]:
# get list index by array value, if there are 2 same values. It will return the first index (5,10) return 5
students.index('g')

6

In [20]:
"""remove array value. If the array contains more then 1 index with the same value, 
it will delete one by one (value with smallest index, will be delete first), if value not found ==> error
"""
students.remove('e')
students

['a', 'b', 'c', 'd', 'f', 'g', 'e', 'f', 'g']

In [67]:
"""sort (A-Z). Note: if containt the capital letter, the capital will be the first although a Z, Z first
reverse like flip the array value
"""
y = ['zaki','Ruslan','ana','Cindy','nanda']
y.sort()
# x.reverse()
y

['Cindy', 'Ruslan', 'ana', 'nanda', 'zaki']

In [34]:
y.pop() # pop used to delete the last array value
y

['Cindy', 'Ruslan', 'ana', 'nanda']

In [8]:
"""slicing return a squence value from the array 
ex: from index 5 - end, 2-5, 0-3, etc
"""
name = ['aryo','dwi','breda','tafta','alin','dena']
name[-2]    #get the second last value ==> alin 
name[0:3]   #return start from index 0 to index 2 (n-1) ==> aryo, dwi, breda
name[2:4]   #return start from index 2 to index 3  ==> breda, tafta
name[:3]    #return 0-2
name[3:]    #return 3-end
name[:-2]   #return 0-the second last value (alin)
name[-3:]   #return the third last value - end (tafta, alin, breda)
name[-3:-1] #return fro the last third value - before the last first value (tafta, alin)

['tafta', 'alin']

In [9]:
arr = [54, 23, 43, 12, 32, 45, 67]

In [19]:
arr[-4:-1]

[12, 32, 45]

In [48]:
"""Matrix is array with more than 1 dimension
   [0] will access the array of string, [0][1] array of name index 1 ==> afandi, [1][1] array of number idx 1 ==> 21
"""
x = [['irwan','afandi','mohamad'],[20,21,22]] #[ [array of string], [array of number] ]
x[0][1]+" umurnya adalah: "+str(x[1][1])

'afandi umurnya adalah: 21'

In [65]:
y_copy = y #y_copy will reference to y
y_copy #nanda exist

['Cindy', 'Ruslan', 'ana', 'nanda', 'zaki']

In [66]:
y_copy.remove('nanda') #because y_copy reference to y. So if data in y_copy delete, the data in y will delete too. 
y #nanda doesn't exist

['Cindy', 'Ruslan', 'ana', 'zaki']

In [71]:
x = y[:] #this like copy but by value not by reference
x

['Cindy', 'Ruslan', 'ana', 'nanda', 'zaki']

In [81]:
angka = [5,15,2,54,10,32,19,43]
max(angka) #get the max of array value
min(angka) #get the min of array value
sum(angka) #get the sum of array value

180

In [82]:
angka_sorted = sorted(angka) #if sorted, initial data will note be sort
angka

[5, 15, 2, 54, 10, 32, 19, 43]

In [1]:
angka_sort = angka.sort() #if sort the init data will sort too
angka

NameError: name 'angka' is not defined

In [34]:
angka = [1,2,3,4] # ini index mulai dari 0 jadi 0,1,2,3 ==> nilai dari len(angka) = 4
sum = angka[0] #jadi pertama kita set nilai awal dengan array index ke 0
lenArray = len(angka)-1 #relatif kan karena index ke 0 sudah dipakek maka sisa data yang belum dipakek 4-1 = 3
for i in range (len(angka)): #for i:= 0 sampai 4, cuman nanti yang dilooping 0 sampai 3
    if i == 0 : #jika nilai i 0 maka kita skip soalnya 0 kan udah kita pakek buat inisiasi di awal
        continue #ini skipnya
    else: #kalau i bukan 0 berarti 1,2,3
        if lenArray % 2 == 1: # nah ini tricki, kalau len array bilangan ganjil, maka nilai awal ditambah array ke i
            sum += angka[i]
        else: #kalau len array bilangan genap, maka dikurang array ke i
            sum -= angka[i]
    lenArray-= 1 #ini buat ngurangi lennya, jadi waktu di angka 2 lenya 3, angka 3 lennya 2 angka 4 lennya 1
print(sum)
#==== kondisi awal
#sum = diisi angka[0] nilai array yang paling awal = 1
#lenArray = 3

#masuk perulangan
#for i = 0     , awal mulai dari 0 jeng
# skip
#for i = 1 ,berarti pindah ke index 1 seng nilai arrayne 2
#len array = 3 (ganjil)
#sum = sum + angka[1]  ==> sum = 1 + 2 = 3
#lenArray -=1  maka jadi 3-1 = 2 terus mbalik ke atas
#for i = 2, berarti pindah ke index 2 nilai arrayne 3
#len array = 2 kan dari sebelumnya (genap)
# sum = sum - angka[i] = sum 3 - 3  = 0
#lenArray -= 1 ==> 2-1 = 1
#for i = 3, pindah ke index 3 terakhir yang nilaine 4
#lenArray = 1 (ganjil)
#masuk ke tambah sum = 0 + 4 = 4
#lenArray -1 = 0
#perulangan selesai

4

In [2]:
angka = [1,2,3,4] 
sum = angka[0] 
for i in range (len(angka)): 
    if i == 0 : 
        continue
    else: 
        if i % 2 == 1:
            sum += angka[i]
        else:
            sum -= angka[i]
print(sum)

4