<===== Dictionary In Python ====>

In [1]:
"""Dictionary is a collection of items accessed by a specific key, its like array
in dictionary, the left side called as key and the right side as value
"""
empty = {} #empty dictionary

In [3]:
couples = { #example of creating dictionary
    "Name":"Irwan",
    "Jobs":"Backend Developer",
    "WorkAt":"Tanijoy"
}

In [4]:
len(couples)

3

In [3]:
couples["WorkAt"] #get the value of dictionary

'Tanijoy'

In [4]:
couples["Name"]="Mohamad Irwan" #edit the value of dictionary keys
couples

{'Name': 'Mohamad Irwan', 'Jobs': 'Backend Developer', 'WorkAt': 'Tanijoy'}

In [5]:
val = { #dictionary with float values
    "a":90,
    "b":97,
    "c":100,
    "d":85,
    "e":87
}
val

{'a': 90, 'b': 97, 'c': 100, 'd': 85, 'e': 87}

In [11]:
val.keys() #get just the keys from dictionary

['a', 'c', 'b', 'e', 'd']

In [12]:
val.values() #get just the values from dictionary

[90, 100, 97, 87, 85]

In [6]:
len(val.keys())

5

In [9]:
score = { #dictionary with array values
    "Breda":[90,96,70,99],
    "Gandung":[95,92,78],
    "Irwan":[80,85,90]
}

In [10]:
len(score["Breda"])

4

In [9]:
score["Irwan"][1] = 83 #update and how to access the data
score["Irwan"]

[80, 83, 90]

In [10]:
scoreAll = { #dictionary with dictionary values
    "Breda":{'Math':90, 'Science':85, 'English':83},
    "Gandung":{'Math':84, 'Science':83, 'English':90},
    "Irwan":{'Math':80, 'Science':75, 'English':73}
}

In [11]:
scoreAll["Irwan"]["English"] #how to access the value

73

In [26]:
scr ={
      9001 : {'Math':70, 'Science':71, 'English':70},
      9002 : {'Math':84, 'Science':83, 'English':90},
}
scr[9002]

{'English': 90, 'Math': 84, 'Science': 83}

In [27]:
#dictionary with tuple as the keys
std = {
    (123): {'Math':70, 'Science':71, 'English':70},
    (124): {'Math':84, 'Science':83, 'English':90}
}

std[(123)] #access the value

{'English': 70, 'Math': 70, 'Science': 71}

In [11]:
#copy and clear
#copy doesn't make the initial value change (by value)
init = {
    'name':'Irwan',
    'score':80,
    'phone':'0856742'
}
init

{'name': 'Irwan', 'score': 80, 'phone': '0856742'}

In [13]:
cpy = init.copy()
cpy

{'name': 'Irwan', 'score': 80, 'phone': '0856742'}

In [14]:
cpy['score']=100

In [15]:
init #the score ini init still 80, becase copy by value

{'name': 'Irwan', 'score': 80, 'phone': '0856742'}

In [16]:
cpy

{'name': 'Irwan', 'score': 100, 'phone': '0856742'}

In [41]:
cpy.clear() #clease use to clear the entire dictionary
cpy

{}

In [42]:
init.items() #show as pear

[('phone', '0856742'), ('score', 80), ('name', 'Irwan')]

In [12]:
init.get('name')

'Irwan'

In [18]:
init.pop('score') #pop will delete the key on dictionary ==> pop('key_name')

80

In [19]:
init

{'name': 'Irwan', 'phone': '0856742'}

In [22]:
init.popitem() #pop will delete the last key on dictionary

('phone', '0856742')

In [23]:
init

{'name': 'Irwan', 'score': 80}

<==== Tuple ==>

In [ ]:
"""A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists.
   Tuple can't be changed like list, and use ()
"""

In [5]:
exTuple = ('Irwan',23)
exTuple

('Irwan', 23)

In [6]:
exTuple[0] #how to access tuple
name, age = exTuple #a nother way to access tuple
print('Hellow '+name+' you are '+str(age)+' years old')

Hellow Irwan you are 23 years old

In [7]:
student = ('12345','Mohamad',23,'Banyuwangi','legacy :)') #has 5 value
_,name,_,city,_ = student #if want to get some data from the tuple use _ 
print('Name '+name+' from '+city)

Name Mohamad from Banyuwangi

In [8]:
#slice in tuple same with array
student[2:]
student[2:4]
student[:3]

('12345', 'Mohamad', 23)

In [9]:
# combine 2 tuple
combine = exTuple+student
combine

('Irwan', 23, '12345', 'Mohamad', 23, 'Banyuwangi', 'legacy :)')

In [10]:
#tuple operation and function
number = (1,2,3,9,8,7)
number[::-1]   #inverse tuple
len(number)    #how much the tuple value
min(number)    #min value
max(number)    #max value
sum(number)    #sum the tuple value
3 in (number)  #is 3 in number ==> true or false 
for x in (1,2,3): print (x) #for in tuple
del student   #delete the tuple
# student

1
2
3

<==== User Input in Python ====>

In [47]:
input("What is your name: ") #make input form in python

What is your name: irwan

'irwan'

In [15]:
name= input("What is your name: ") #save input in variable
name

What is your name: Hello my name Irwan Afandi

'Hello my name Irwan Afandi'

In [16]:
name[0:20:2] #[start index, end index, skip(2)]

'Hlom aeIwn'

In [20]:
# name[::2]  #print skip 2 character
# name[::-1] #inverse
# name.index("i") #get the first index with value i
name.count("a") #count of a in the word
# name.startswith("My") #if the name start with My ==> true or false
# name.endswith("old") #is the name end with old ==> true or false, the value of endswith can just a character
# char = name.split(" ") #spliting sentence by space
# char

3

In [68]:
#split usually use for tokenization on data prerpocessing
data = "irwan,23,tanijoy,banyuwangi,love yaw"
token = data.split(",")
token

['irwan', '23', 'tanijoy', 'banyuwangi', 'love yaw']

In [72]:
#join string 
separator = ":"
joindata = separator.join(token)
joindata

'irwan:23:tanijoy:banyuwangi:love yaw'