In [2]:
#python 2 string must use "" int without it, python 3 without it
input('What is your name ? ')

What is your name ? "Mohamad Irwan Afandi"

'Mohamad Irwan Afandi'

In [3]:
nama = input('name?')

name?"Mohamad Irwan Afandi"

In [4]:
nama[0:7:1]
#start idx, end idx, lompat2nya berapa (2) MxHxMxD

'Mohamad'

In [5]:
nama[::2] #print with the space of 2
nama[::-1] #inverse

'idnafA nawrI damahoM'

In [6]:
len(nama)
nama[2]
nama.index('a') # a pertama berada pada index berapa
nama.count("a") # banyak a pada nama itu

4

In [7]:
nama.lower()
# nama.upper()
nama.startswith("Mohamad") #mustbe same with the initial caracter
nama.endswith("di") #can just single character or more than 1
nama_split = nama.split(" ") #split the sentence by space
nama_split

['Mohamad', 'Irwan', 'Afandi']

In [8]:
#tokenize string by split
data = "Irwan,23,Banyuwangi,24,November,1996"
token = data.split(",")
token

['Irwan', '23', 'Banyuwangi', '24', 'November', '1996']

In [6]:
#to join the data
separator = ":"
joindata = separator.join(token)
joindata
# len(joindata)

NameError: name 'token' is not defined

In [22]:
#tuple usually use as record in python
my_tuple = ('Jerome', 99)
my_tuple[0]
my_tuple[1]
# my_tuple[0]="Mukbang", tuple doesn't support assigment like this
name, value = my_tuple
name+" has math value of : "+str(value)

'Jerome has math value of : 99'

In [24]:
tuple_student = ('Irwan','Banyuwangi','IPA',80,'B','Lulus')

In [28]:
#_ like ignore variable
nama, kota, subjek, nilai,_,_ = tuple_student
"Nama anda: "+nama+", tinggal di "+kota+" dengan mapel "+subjek+" nilainya: "+str(nilai)

'Nama anda: Irwan, tinggal di Banyuwangi dengan mapel IPA nilainya: 80'

In [34]:
#tuple number cara akses sama dengan akses array 
num_tuple = (90,100,87,75,88,95,98,83)
num_tuple[:2]  #90, 100
num_tuple[3:-2] #75, 88, 95

(75, 88, 95)

In [38]:
all_tuple = tuple_student + num_tuple
all_tuple

('Irwan',
 'Banyuwangi',
 'IPA',
 80,
 'B',
 'Lulus',
 90,
 100,
 87,
 75,
 88,
 95,
 98,
 83)

In [40]:
print(("Irwan")*3) #mathematic operator on the taple

IrwanIrwanIrwan

In [48]:
num_tuple[1:] #start from idx 1
num_tuple[::-1] #inverse the tuple
len(num_tuple)
min(num_tuple)
max(num_tuple)
sum(num_tuple)

716

In [51]:
#change array to be a taple
arr = ['Irwan','Suka','Makan']
arr_to_tuple = tuple(arr)
arr_to_tuple

('Irwan', 'Suka', 'Makan')

In [56]:
arr[-1][-3]

'k'

In [60]:
Breakfast={"bread":"butter","cheese":"Sandwich"}

In [1]:
Breakfast["bread"]

NameError: name 'Breakfast' is not defined

(1,)