In [2]:
num = 3 #initiation
if num <= 5: #if condition return true because 3 <=5 == true
    print("I love u")

I love u

In [4]:
nums = 10
if nums <=8:  #if else condition return false becase 10 <= 8 == false
    print("lest then equal to 8")
else:
    print("greater than 8")

greater than 8

In [12]:
age = 25

if age <=5:  #multiple condition,
    print ("baby")
elif age>5 and age<12:
    print ("children")
elif age>=12 and age<21:
    print("Teenager")
elif age>=21 and age <40:
    print("Adult")
else:
    print("Old")

Adult

In [8]:
active = False

In [10]:
if not active: #return true
    print("Aktifasi akun")

Aktifasi akun

In [14]:
if age <=27 and not active: #both condition must true 
    print ("Cocok untuk nikah")

Cocok untuk nikah

In [16]:
if age == 40 or not active: #one of condition true, it will return true
    print("or need one to return true, all the data will return true")

or need one to return true, all the data will return true

In [19]:
x = 10
if x % 2 == 0: #mode
    print("The number is even "+ str(x%2))
else:
    print("The number is odd")

The number is even 0

In [22]:
if x == 10:
    print ("x equals to 10")

x equals to 10

In [24]:
if x != 5:
    print("x not equal to 5")

x not equal to 5

In [29]:
nama = ["esa","wok","alam","nofal","aldi","evan","afan"]
xx = "rudi"
if xx in nama: #condition is data xx is exist in array nama
    print("There is afan in the list")
else:
    print("pencuri")

pencuri

In [32]:
scr = {
    "Sumi": 90,
    "Yati": 88,
    "Burhan":89,
}
nm ="Burhan"
if nm in scr: #equals with array but in dictionary
    print("The score of "+nm+" is "+str(scr[nm]))

The score of Burhan is 89

In [36]:
#corversion data type
# string to int
strx = "123"
int_str = int(strx)
int_str+2

125

In [39]:
#str to float
flt = float(strx)
flt

123.0

In [48]:
#to int to hexa
hexa = hex(123)
hexa

'0x7b'

In [16]:
tuple('bodong') #string to tuple
tuple([1,2,43,5,3,5,6]) #array to tuple

(1, 2, 43, 5, 3, 5, 6)

In [17]:
list('caem') #string to array

['c', 'a', 'e', 'm']

In [18]:
tuple(list('kamu ganteng'))

('k', 'a', 'm', 'u', ' ', 'g', 'a', 'n', 't', 'e', 'n', 'g')

In [59]:
set("my name is jhon chiena") #return the unique character from the list

{' ', 'a', 'c', 'e', 'h', 'i', 'j', 'm', 'n', 'o', 's', 'y'}

In [61]:
#int to string
ator = str(100)
ator

'100'

In [3]:
x = input("number: ")
if x == 0:
    print("zero number")
elif x % 2 == 0:
    print("even number")
else:
    print("odd number")

number: 0
zero number

In [4]:
#tuple of tuple change to dictionary
tuple = (('a',1),('b',2),('c',3))
dictionary = dict(tuple)
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [7]:
#cek the data type
type(dictionary)
type(x)

int

In [14]:
x = 15
y = 12
st = "x is less than y" if (x < y) else "x is greater than or equal to y"
print (st)

x is greater than or equal to y