In [20]:
student = ['Najwa','Abdullah','Irwan','Mumtaz','Mohamad']

In [21]:
for val in student: # val will access the value of arr student start from idx 0 till end
    print(val)

Najwa
Abdullah
Irwan
Mumtaz
Mohamad

In [22]:
num = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in num: #same with difinition above
    total = total + i #it will sum all value inside array
print(total)

55

In [23]:
x = 0
for i in num :
    x+=1 #like count the len for the array :v
print('The length of array number is : '+str(x))

The length of array number is : 10

In [24]:
range(5) #will return array value start from 0 till n-1

range(0, 5)

In [25]:
for i in range(5): #looping for start from 0 till 5-1
    print(i)

0
1
2
3
4

In [27]:
for i in range (2,5): #looping for start from 2 until 5-1
    print(i)

2
3
4

In [28]:
for i in range (2,20,2): #looping for start from 2 until 20-1 but increment by 2
    print(i)

2
4
6
8
10
12
14
16
18

In [29]:
data = {
    'a':90,
    'b':98,
    'c':88
}
for i in data: #loop on dictionary
    print ('val '+i.capitalize()+' has value: '+str(data[i])) 
    #remember how to access the dict, i will return the key and data[i] like data[a] return the value

val A has value: 90
val B has value: 98
val C has value: 88

In [30]:
for i in data.keys(): #get the key only
    print(i.capitalize())

A
B
C

In [31]:
for i in data.values(): #get the value
    print(i)

90
98
88

In [32]:
for i in data.items(): #get the couple of key and its value
    print(i)

('a', 90)
('b', 98)
('c', 88)

In [33]:
for key, value in data.items(): #dat.items() return 2 value that is key and value. If just data, it gonna be error
    print('The key is '+key+' with value: '+str(value))

The key is a with value: 90
The key is b with value: 98
The key is c with value: 88

In [34]:
#break in the looping
for i in range(10):
    if i > 6:
        break #break will make the looping directly stop
    print(i)

0
1
2
3
4
5
6

In [35]:
std = {
    "mtk":90,
    "bi": 86,
    "pkn":92,  
    "olahraga":65,
    "kimia":70,
    "s": 60
}

for x in std:
    if std[x]<70: #another example of break with condition
        print("Anda harus remidi pelajaran: "+x+" karena nilai anda hanya: ",std[x])
        break
    else:
        print(x+" dengan nilai: ", std[x])

mtk dengan nilai:  90
bi dengan nilai:  86
pkn dengan nilai:  92
Anda harus remidi pelajaran: olahraga karena nilai anda hanya:  65

In [36]:
#continue
online = ["uber","gojek","nebeng","grab"]
for i in online:
    if i == "gojek":
        continue #continue like we skip the instruction bellow this code, so directly to another index
    print(i)

uber
nebeng
grab

In [37]:
for i in range (0,10):
    if i%2 == 0: #another example for continue statement
        continue
    print("Even number: ", i)

Even number:  1
Even number:  3
Even number:  5
Even number:  7
Even number:  9

In [38]:
for i in range (0,5): #this is the nasted loop
    for j in ['a','b','c','d']: #analogy: i then do all j, i2 then do all j again until all i
        print(i,'. '+j)

0 . a
0 . b
0 . c
0 . d
1 . a
1 . b
1 . c
1 . d
2 . a
2 . b
2 . c
2 . d
3 . a
3 . b
3 . c
3 . d
4 . a
4 . b
4 . c
4 . d

In [39]:
for i in range (5):
    print(i)
else:
    print('iteration done')

0
1
2
3
4
iteration done

In [40]:
num = int(input("The high of pyramid: "))
for i in range (1,num):
    for j in range (num-1-i,0,-1):
        print(' ',end = '')
    for k in range (i):
        print('*',end = '')
    if i != 1:
        for l in range (i-1):
            print('*',end = '')
    print()

The high of pyramid: 10
        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************